.chapter{
    text-align: center;
}
.whole{
    font-size:9px;
    border:solid indigo;
}
.tutor{
    text-align: center;
}
.sec{
text-align: center;
}
.secteach{
    border: solid red 3px;
    border-style: dotted;
    font-size: 20px;
    background-color: white;
}
.secarea{
    border: solid blue 12px;
    background-color: burlywood;
    margin-top: 10px;
    padding-top: 0px;
}
.current{
    text-align: center;
}