body{
    background-color: rgb(164, 214, 214);
    
}

h2{
    text-align: center;
    text-decoration: rgb(218, 132, 132);
}h3{
    text-align: center;
    text-decoration: rgb(218, 132, 132);
}
.impot_quote{
    font-size: 15px;
    border: dotted solid 9px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 30x;
    border-radius: 10px;
    background-color:rgb(191, 138, 245);
    line-height: 28px;
    color:rgb(243, 222, 222);
    border: rgb(136, 89, 136);
    font-family:elephanta ;
}
.loginedit{
    border-radius: 5px;
    background-color: rgb(234, 225, 241);
    padding-left: 2px;
    
}
.loginname{
    background-origin: 20px;

}
.loginpassword{

}