body, html{
    height: 100%;
    padding:0px;

   }
.bg{
    overflow: auto;
    height: 100%;
    background-image: url(IMAGES/schooldesk.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: cover;
    background-attachment: local;
    
   
}
h4{
    text-align: center;
    margin:0;
}
.mob{
    margin: 0;
}
h2{
    margin:0;
    text-align: center;
    text-decoration: rgb(218, 132, 132);
}
h3{
    margin: 0;
    text-align: center;
    text-decoration: rgb(218, 132, 132);
}
.notice{
    text-align: center;
    color: white;
}

a{
    text-align: center;
    text-decoration: none;
    border: solid red 2px;
    background-color: greenyellow;
    color: red;
    font-size: 25px;
}

.impot_quote{
    height: auto;
    border-radius: 2px;
    background-color: rgb(61, 11, 11);
    margin-top: initial;
    font-weight:bolder;
    font-size: 18px;
    border: solid 1px;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 30x;
    border-radius: 10px;
    opacity: .3;
    line-height: 22px;
    color: white;
    font-family:arial;
    text-align: left;
    margin-bottom: 0px;
    backface-visibility: ;
}
.loginedit{
    border-radius: 5px;
    background-color: rgb(234, 225, 241);
    padding-left: 2px;
    opacity: .6;  
}
.loginname{
    background-origin: 20px;

}
.loginpassword{

}
body
{
margin: 0;
padding: 0;
background: #607d8b;
}
.box
{
    opacity: 9;
    position: absolute;
    top: calc(50% - 150px);
    left: calc(50% - 100px);
    transform: translate(-50%, -50%);
    transform: perspective(1000px) rotateY(-45deg);
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
}

.box div
{
    opacity: 9;
    position: absolute;
    top:0;
    left: 0;
    width: 30%;
    height: 30%;
    transform-style: preserve-3d;
    animation: animate 5s linear infinite;
}
.box div span
{
    opacity: 3;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #f1f1f1, #bbb, #f1f1f1);
    border-radius: 20px;
}
.box div span:nth-child(1)
{
    opacity: 2;
    transform: rotateX(0deg);
}
.box div span:nth-child(2)
{
    opacity: 2;
    transform: rotateX(45deg);
}
.box div span:nth-child(3)
{
    opacity: 2;
    transform: rotateX(-45deg);
}
.box div span:nth-child(4)
{
    opacity: 2;
    transform: rotateX(90deg);
}
@keyframes animate
{
    0%
    {
        transform: perspective(1000px) rotateX(0deg);
    }
    100%
    {
        transform: perspective(1000px) rotateX(359deg);
    }
}
p{
    text-align: center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    color: rgb(88, 88, 24);
    font-stretch: expanded;
    font-weight: bold;
}