body{
    text-align: center;
    background-color: lavenderblush;
}
.mainp{
    text-align: left;
    border: 3px;
    border-style: thick;
    display: flex;
    flex-direction: column;
    flex-basis: 2px;
    flex-wrap: nowrap;
    
}
.onep{
flex: 1.3;
text-align: left;
border-style: solid;
border-color: brown;
border-style: 70px;
text-indent: 20px;
text-align: start;
text-align: left;
justify-content: right;

}
.twop{
    flex: 1.5;
    text-align: left;
    border-style: solid;
    border-color: rgb(42, 165, 48);
    border-style: 70px;
    text-indent: 25px;
    }

    .threep{
        flex: 1.7;
        text-indent: 30px;
        text-align: auto;
        border-style: solid;
        border-color: brown;
        border-style: 70px;
        border-width: auto;
        
        }
    .last{
        text-indent: 30px;
    }


.last{
    text-align: justify;
    text-align: left;
}