body{
    background-color: rgb(248, 237, 218);
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 40px;
}
h2{
    text-align: center;
}
.mainp{
    text-align: left;
    border: 3px;
    border-style: thick;
    display: flex;
    flex-direction: column;
    flex-basis: 2px;
    flex-wrap: nowrap;
    
}
.onep{
flex: 1.3;
text-align: left;
border-style: solid;
border-color: brown;
border-style: 70px;
text-indent: 20px;
text-align: start;
text-align: left;
justify-content: right;

}
.twop{
    flex: 1.5;
    text-align: left;
    border-style: solid;
    border-color: rgb(42, 165, 48);
    border-style: 70px;
    text-indent: 25px;
    }

    .threep{
        flex: 1.7;
        text-indent: 30px;
        text-align: auto;
        border-style: solid;
        border-color: brown;
        border-style: 70px;
        border-width: auto;
        
        }
    .last{
        text-indent: 30px;
    }


.last{
    text-align: justify;
    text-align: left;
}
.hma{
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: smaller;
    border: 2px solid;
    border-radius: 8px;
}
.thup{
    text-align: center;
    font-weight: bold;
}
.tran{
font-family: sans-serif;
font-style: oblique;
text-indent: 20px;
}
.topic1{
    
    text-align: left;
    border: solid;
    background-color: rgb(221, 236, 248);
    border-style: dotted;
}
.t1{
    text-align: center;
}
.topic2{
    text-align: left;
    border: solid;
    background-color: rgb(244, 247, 207);
    border-style: dotted;
}
.t2{
    text-align: center;
    text-decoration: underline;
}
.topic3{
    text-align: left;
    border: solid;
    background-color: rgb(239, 240, 221);
    border-style: dotted;
}
.t3{
    text-align: center;
    text-decoration: underline;
}
.topic4{
    text-align: left;
    border: solid;
    background-color: rgb(195, 248, 228);
    border-style: dotted;
}
.t4{
    text-align: center;
    text-decoration: underline;
}

